li a:focus-visible{
    outline: none;
}

li a:focus{
    background-color: transparent !important;
}

li a:hover{
    background: transparent !important;
    color: green;
}

li a:active{
    outline: none;
    box-shadow: none;
    background: transparent !important;
}
